*~
*.DS_Store
*.class
*java#
*.classpath
*.project
*.settings
.gradle
facebook/local.properties
facebook/build/
facebook/bin/
facebook/gen/
examples/stream/local.properties
examples/simple/local.properties
examples/stream/build/
examples/simple/build/
examples/stream/bin/
examples/simple/bin/
examples/stream/gen/
examples/simple/gen/
tests/local.properties
tests/build
tests/bin
tests/gen
